{# @var news \App\Modules\Homepage_v3\Model\News[] #}
{# @var news_item \App\Modules\Homepage_v3\Model\News #}
<div class="v3__homepage-news_container">
    <div class="v3__homepage-three_items">
        {% for news_item in news %}
            {% include '@Homepage_v3/web/three_item.html.twig' with {item: news_item.news} %}
        {% endfor %}
    </div>
</div>