(function () {
    var script = (function () {
        var a = document.getElementsByTagName('script');
        return a[a.length - 1];
    }());
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url('api.toolbartlum.html') }}');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onload = function () {
        var response = JSON.parse(String(xhr.response));
        var el = document.createElement('div');
        el.innerHTML = response.html;
        script.parentNode.insertBefore(el, script);
    };
    xhr.send();
}());
