{# @var container \App\Modules\ToolbarTlum\Model\ToolbarTlumContainer #}
<link rel="stylesheet" href="{{ url('web.toolbartlum.style', {t: 'now'|date('Ymd')}) }}">
<div class="toolbar-tlum__container" style="display: none;">
    <div class="toolbar-tlum__main">
        {% if container.logo %}
            <a href="https://tlum.ru/?utm_source=bar&utm_medium=toolbar&utm_content=logotlum&utm_campaign=toolbar" class="toolbar-tlum__logo" target="_blank">
                <img src="https://tlum.ru/assets/website/images/logo_tlum_tb.png" class="tlum-logo">
            </a>
        {% endif %}
            <ul class="toolbar-tlum__menu">
                {% for group in container.groups %}
                    <li class="{% if group.items|length > 0 %} toolbar-tlum__group {% else %}toolbar-tlum__group-none {% endif %}">
                        <a href="{{- group.url -}}" class="toolbar-tlum__group-link" {% if group.items|length == 0 %} target="_blank" {% endif %}  style="color: {{ group.color }}">
                            {{- group.title -}}
                        </a>
                        <ul class="toolbar-tlum__group-items" style="width: {{- group.width -}};height: {{- group.height -}};border-top-right-radius: {{- group.border -}}">
                            {% for item in group.items %}
                                <li class="toolbar-tlum__group-item">
                                    <a href="{{ item.url }}" class="toolbar-tlum__group-item-link" target="_blank">
                                        {{- item.title -}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
    </div>
</div>
