{# @var videos \App\Modules\Homepage_v3\Model\Video[] #}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Название видео</th>
        <th>Плейлисты</th>
        <th>Серия</th>
        <th>Добавлен/Изменен</th>
        <th>Позиция</th>
    </tr>
    </thead>
    <tbody>
    {% for video in videos %}
        {% include '@Homepage_v3/admin/video/list_item.html.twig' with {
            video: video
        } only %}
    {% endfor %}
    </tbody>
</table>
