{# @var video \App\Modules\Homepage_v3\Model\Video #}
<tr class="js-item"
    data-type="video"
>

    <td class="td-break">
        {{ video.video.title }}
    </td>

    <td>
        {% for videoPlaylist in video.video.getVideoPlaylists %}
            <span class="label label-default">
                {{ videoPlaylist.getTitle }}
            </span>
        {% endfor %}
    </td>

    <td class="td-break">
        {{ video.video.series }}
    </td>

    <td class="td-break">
        <span class="js-timestamp"
              data-timestamp="{{ video.video.createdAt.timestamp }}"
              data-format="DD.MM.YYYY HH:mm"
        ></span><br>
        <span class="js-timestamp"
              data-timestamp="{{ video.video.updatedAt.timestamp }}"
              data-format="DD.MM.YYYY HH:mm"
        ></span>
    </td>

    <td class="td-break">
        <input type="text" data-clone="js-video-position-change{{ video.id }}" class="js-position-change" value="{{ video.position }}">
    </td>

    <td class="js-action td-menu">
        {% include '@Homepage_v3/admin/video/list_item_menu.html.twig' %}
    </td>
</tr>
