{% extends '@legacy/Website/layout.html.twig' %}

{% block block_title -%}
    Рекомендательный сервис для детей и родителей — {{ site_name }} — Мы знаем ответы на детские вопросы
{%- endblock %}

{% block block_meta_description -%}
    Обзор мероприятий, интересные новости, игры, подарки, мультфильмы онлайн и многое другое на {{ tlum_ru }}!
{%- endblock %}

{% block body_class %}v2__homepage v3__homepage js-v3__homepage{% endblock %}

{% block site_wrap %}
    {% block header_banner %}
        {% include '@adfox/header_banner.html.twig' only %}
    {% endblock %}

    {# Верхнее меню #}
    {% include '@legacy/Website/site_header.html.twig' with { homepage: 1, } %}

    <div class="v2__site-main v2__site-main__homepage js-main-content">
        {% block block_main %}
            {# Слайдер/Промоблок #}
            {{ render(controller('module.homepage.web.controller:renderModulePromoblock')) }}
            {# Проекты #}
            {{ render(controller('module.homepage.web.controller:renderModuleProject')) }}
            {# Идеи подарков #}
            <div class="v3_homepage-block__header-box">
                <div class="v3__homepage-block__header-link">Идеи подарков</div>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleGiftIdeas')) }}
            {# Новости #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('website_news_list_section', {slug: 'novosti'}) }}">Новости</a>
                <a class="v3__homepage-block__header-link-all" href="{{ path('website_news_list_section', {slug: 'novosti'}) }}">Все новости</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleNews')) }}
            {# Мультфильмы #}
            <div class="v3_homepage-block__header-box">
                <div class="v3__homepage-block__header-link" style="margin-right: 15px;">Узнать о мультфильмах</div>
                <a class="v3__homepage-block__header-link-all" style="display: none" href="#">Весь каталог мультфильмов</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleAnimation')) }}
            {# Поиск по подаркам #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('website_gift_products_tab') }}">Поиск по подаркам</a>
                <a class="v3__homepage-block__header-link-all" href="{{ path('website_gift_products_tab') }}">Все подарки</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleProduct')) }}
            {# Блок Тлум клуб #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('website_promo_page') }}" title="Перейти в раздел «Тлум клуб»">Тлум клуб</a>
                {% include '@homepage-v2/web/tlum_club_block.html.twig' %}
            </div>
            {# Детская афиша #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('website_afisha_v2') }}">Детская афиша</a>
                <a class="v3__homepage-block__header-link-all" href="{{ path('website_afisha_v2') }}">Все детские события</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModulePlaybill')) }}
            {# Купоны от партнеров #}
            {#<div class="v3_homepage-block__header-box">#}
                {#<a class="v3__homepage-block__header-link" href="{{ path('coupon.web.list') }}">Купоны партнеров</a>#}
                {#<a class="v3__homepage-block__header-link-all coupon-page__all-link" href="{{ path('coupon.web.list') }}">Все купоны</a>#}
            {#</div>#}
            {#{{ render(controller('module.coupon.web.controller:bottomIndexAction')) }}#}
            {# Тесты и опросы #}
            <div class="v3_homepage-block__header-box">
                <div class="v3__homepage-block__header-link">Тесты и опросы</div>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleVotesAndTests')) }}
            {# Кино и мультфильмы #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('web_playlist_index') }}">Кино и мультфильмы</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleVideo')) }}
            {# Советы родителям #}
            <div class="v3_homepage-block__header-box">
                <a class="v3__homepage-block__header-link" href="{{ path('web_playlist_index_parents') }}">Советы родителям</a>
            </div>
            {{ render(controller('module.homepage.web.controller:renderModuleVideoParent')) }}
        {% endblock %}
    </div>

    <footer class="v2__site-footer">
        {% include '@legacy/Website/Layout/footer.html.twig' only %}
    </footer>

    {% block javascripts %}
        {{ parent() }}

    {% endblock %}

{% endblock %}
