{# @var video \App\Modules\Video\Model\Video #}
<a href="{{ link }}" class="v3__homepage-video_item" style="background-image: url('{{ video.image }}');">
    <div class="v3__homepage-three_video-play"></div>
    <div class="v3__homepage-three_video-text">
        <div class="v3__homepage-three_video-title">{{ video.videoPlaylists[0].title }}</div>
        <div class="v3__homepage-three_video-series">{{ video.title }}</div>
    </div>
</a>