<a href="{{ item.absoluteUrl }}" class="v3__homepage-news_item{% if loop.index0 < 3 %} v3__homepage-news_item-mobile{% endif %}">
    <div class="v3__homepage-three_item-title">{{ item.title }}</div>
    <div class="v3__homepage-three_item-description">{{ item.announcement }}</div>
</a>