{# @var clubEvent \Entities\ClubEventEntity #}
<a class="v3__homepage-playbill_item-wrapper js-v3__homepage-playbill_item-wrapper-{{ index }}" target="{{ target }}" href="{{ href }}">
    <div class="v3__homepage-playbill_item-img" style="background-image: url('{{ clubEvent.image.thumbnail.url }}');">
        <div class="v3__homepage-playbill_item-time">
                        <span class="js-timestamp"
                              data-timestamp="{{ clubEvent.timeFrom }}"
                              data-format="DD.MM"
                              data-utc-offset='0'>
                        </span>
            {%- if clubEvent.timeTo > 0 -%}
                -<span class="js-timestamp"
                       data-timestamp="{{ clubEvent.timeTo }}"
                       data-format="DD.MM"
                       data-utc-offset='0'>
                            </span>
            {%- endif -%}
        </div>
        <div class="v3__homepage-playbill_item-title js-truncate">
            {{ clubEvent.title }}
        </div>
    </div>
    <div class="v3__homepage-playbill_item-description js-truncate">
        {{ clubEvent.announcement }}
    </div>
</a>