{# @var playbill \App\Modules\Homepage_v3\Model\Playbill #}
{# @var dateWeek \App\Modules\Homepage_v3\Model\CalendarItem[] #}
<div class="v3__homepage-playbill_container">
    <form action="{{ path('homepage.api.getPlaybill') }}" method="POST" class="v3__homepage-playbill_form">
        <div class="v3__homepage-playbill_form-area">
            <div class="v3__homepage-playbill_header">
                Куда сходить?
            </div>
            <div class="v3__homepage-playbill_form-labels">
                <select title="Тип события" name="type_event" class="v3__homepage-playbill_form-label input-select">
                    <option value="">Тип события?</option>
                    {% for event_type in types %}
                        {# @var event_type \Entities\ClubEventTypeEntity #}
                        {% if event_type.getName != "Спорт" %}
                            <option value="{{ event_type.slug }}" data-title="{{ event_type.name }}">
                                {{ event_type.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <a href="#" class="v3__homepage-playbill_form-label-city js-club-event-list-city">город</a>
            </div>
            <div class="v3__homepage-playbill_form-calendar">
                <div class="v3__homepage-playbill_form-calendar-day-buttons js-playbill_form-calendar-day-buttons">
                    <div class="v3__homepage-playbill_form-calendar-day-button js-playbill_form-calendar-day-button checked" data-period="today">
                        Сегодня
                    </div>
                    <div class="v3__homepage-playbill_form-calendar-day-button js-playbill_form-calendar-day-button" data-period="tomorrow">
                        Завтра
                    </div>
                    <div class="v3__homepage-playbill_form-calendar-day-button js-playbill_form-calendar-day-button" data-period="weekend">
                        Выходные
                    </div>
                    <div class="v3__homepage-playbill_form-calendar-day-button js-playbill_form-calendar-day-button js-playbill_form-calendar-day-button-date-picker">
                        Другие дни
                    </div>
                </div>
                <div class="v3__homepage-playbill_form-calendar-days js-playbill_form-calendar-days">
                    {% for day in dateWeek %}
                        <div class="v3__homepage-playbill_form-calendar-day-container js-playbill_form-calendar-day-container" data-period="{{ day.dayString }}">
                            <div class="v3__homepage-playbill_form-calendar-day-number {% if day.holiday %}holiday{% endif %}">{{ day.day }}</div>
                            <div class="v3__homepage-playbill_form-calendar-day-week-title {% if day.holiday %}holiday{% endif %}">{{ day.dayName }}</div>
                        </div>
                    {% endfor %}
                    <div class="v3__homepage-playbill_form-calendar-day__date_picker-wrapper">
                        <div class="v3__homepage-playbill_form-calendar_other-day__wrapper">
                            <div class="v3__homepage-playbill_form-calendar_other-day__title">С</div>
                            <input id="datepicker1" name="datepicker1" type="text" class="js-datepicker1 pickmeup-js v3__homepage-playbill_form-calendar_other-day__input" value="{{ dateWeek[0].dayString }}">
                            {#<label for="datepicker1" class="calendar-label"></label>#}
                        </div>
                        <div class="v3__homepage-playbill_form-calendar_other-day__wrapper">
                            <div class="v3__homepage-playbill_form-calendar_other-day__title">По</div>
                            {#<label for="datepicker2" class="calendar-label"></label>#}
                            <input id="datepicker2" name="datepicker2" type="text" class="js-datepicker2 pickmeup-js2 v3__homepage-playbill_form-calendar_other-day__input" value="{{ dateWeek[1].dayString }}">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="version" class="js-homepage-playbill-period-version" value="day">
                <input type="hidden" name="period" class="js-homepage-playbill-period" value="{{ dateWeek[0].dayString }}">

            </div>
            <div class="v3__homepage-playbill_form-other-days">
                <div class="v3__homepage-playbill_form-calendar_other-day__wrapper">
                    <div class="v3__homepage-playbill_form-calendar_other-day__title">С</div>
                    <input type="text" name="" class="js-datepicker3 pickmeup-js3 v3__homepage-playbill_form-calendar_other-day__input" value="{{ dateWeek[0].dayString }}">
                </div>
                <div class="v3__homepage-playbill_form-calendar_other-day__wrapper">
                    <div class="v3__homepage-playbill_form-calendar_other-day__title">По</div>
                    <input type="text" name="" class="js-datepicker4 pickmeup-js4 v3__homepage-playbill_form-calendar_other-day__input" value="{{ dateWeek[1].dayString }}">
                </div>
            </div><!--date_select-->
            <div class="v3__homepage-playbill_form-calendar-find-button-wrapper">
                <button type="submit" class="v3__homepage-playbill_form-calendar-find-button">Найти</button>
            </div>
        </div>
    </form>
    <div class="v3__homepage-playbill_items">
        {% for playbill in playbills %}
            {# Если нет полного описания, то переходим к первой ссылке события #}
            {% if playbill.clubEvent.hasFulltext %}
                {% set href = playbill.clubEvent.absoluteUrl %}
                {% set target = '_self' %}
            {% else %}
                {% set href = playbill.clubEvent.links is not empty ? playbill.clubEvent.links|first.href : '' %}
                {% set target = '_blank' %}
            {% endif %}
            {% include '@Homepage_v3/web/playbill/card_item.html.twig' with { clubEvent: playbill.clubEvent, href: href, target: target, index: loop.index } %}
        {% endfor %}
    </div>
</div>
