.toolbar-tlum__container {
    display: none;
}

@media screen and (min-width: 1020px) {
    .toolbar-tlum__container {
        position: relative;
        z-index: 11;
        top: 0;

        display: block !important;

        width: 100%;

        border-bottom: 1px solid #b8bec3;
        background-color: #f2f2f2;

        line-height: 40px;
    }

    .toolbar-tlum__logo {
        position: relative;
        z-index: 11;
        top: 8px;

        display: inline-block;
        float: left;

        width: auto;
        padding-right: 20px;
    }

    .toolbar-tlum__logo img {
        vertical-align: top;
    }

    .toolbar-tlum__main {
        width: 1020px;
        margin: 0 auto;
    }

    .toolbar-tlum__menu {
        position: relative;
        z-index: 10;

        width: 1020px;
        margin: 0 auto;
        padding: 0;

        text-align: center;
    }

    .toolbar-tlum__group {
        display: inline-block;

        padding-right: 20px;
        padding-left: 16px;

        white-space: nowrap;
        text-transform: uppercase;

        border: 1px solid transparent;
    }

    .toolbar-tlum__group-link {
        display: block;

        color: #453f4d;

        font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;

    }

    .toolbar-tlum__group-link:after {
        display: inline-block;

        width: 7px;
        height: 7px;
        margin-bottom: 3px;
        margin-left: 9px;

        content: "";
        transform: rotate(-135deg);

        border-top: 2px solid #b2bec9;
        border-left: 2px solid #b2bec9;
    }

    .toolbar-tlum__group:hover {
        border-top-color: transparent;
        border-right: 1px solid #b8bec3;
        border-left: 1px solid #b8bec3;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #fff;
    }

    .toolbar-tlum__group:hover .toolbar-tlum__group-link {
        text-decoration: none;

        color: #42bbe9;
    }

    .toolbar-tlum__group:hover .toolbar-tlum__group-link:after {
        border-top: 2px solid #42bbe9;
        border-left: 2px solid #42bbe9;

    }

    .toolbar-tlum__group-items {
        position: absolute;

        visibility: hidden;

        text-transform: none;

        opacity: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background: #fff;
    }

    .toolbar-tlum__group:hover > .toolbar-tlum__group-items {
        z-index: 11;

        visibility: visible;

        margin: 0;
        margin-top: -1px;
        margin-left: -17px;
        padding-top: 7px;
        padding-left: 0;

        opacity: 1;
        border-right: 1px solid #b8bec3;
        border-bottom: 1px solid #b8bec3;
        border-left: 1px solid #b8bec3;
    }

    .toolbar-tlum__group-item {
        position: relative;
        left: 0;

        float: none;

        padding: 0;

        list-style-type: none;

        text-align: left !important;

        border: none;

        font-size: 12px;
        line-height:22px;
    }

    .toolbar-tlum__group-item:last-child {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .toolbar-tlum__group-item-link {
        padding-left: 15px;

        cursor: default;
        text-transform: uppercase;

        color: #453f4d !important;
        border: none;
        border-top: 0;
        border-left: 0;

        font-size: 12px;
    }

    .toolbar-tlum__group-item-link:after {
        width: 0;
        height: 0;

        color: #453f4d;
        border-top: 0 !important;
        border-left: 0 !important;
    }

    .toolbar-tlum__group-item:hover {
        cursor: default;
        text-decoration: underline;

        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 5px;
        background-color: transparent;
    }

    .toolbar-tlum__group-none {
        display: inline-block;

        padding-right: 20px;
        padding-left: 16px;

        white-space: nowrap;
        text-transform: uppercase;

        border-right: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
    }

    .toolbar-tlum__group-none:hover {
        height: 40px;

        border-right: 1px solid #b8bec3;
        border-left: 1px solid #b8bec3;
        background-color: #fff;
    }

    .toolbar-tlum__group-none:hover .toolbar-tlum__group-link{
        color: #42bbe9;
    }

    .toolbar-tlum__group-none > .toolbar-tlum__group-link:after {
        margin-left: 100px;

        content: none;
    }
}
