{# @var projects \App\Modules\Homepage_v3\Model\Project[] #}
<div class="v3__homepage-project_container js-v3__homepage-project_container">
    <ul class="v3__homepage-project_items">
        {% for project in projects %}
            <li class="v3__homepage-project_item-wrap">
                <a href="{{ project.link }}" title="{{ project.title }}" target="_blank" class="v3__homepage-project_item" style="background-image: url('{{ project.image.absoluteUrl }}')"></a>
            </li>
        {% endfor %}
    </ul>
</div>