{# @var project \App\Modules\Homepage_v3\Model\Project #}
<tr class="js-item"
    data-id="{{ project.id }}">

    <td class="td-break">
        {{ project.title }}
    </td>

    <td class="td-break">
        <input type="text" data-clone="js-project-position-change{{ project.id }}" class="js-position-change" value="{{ project.position }}">
    </td>

    <td class="js-action td-menu">
        {% include '@Homepage_v3/admin/project/list_item_menu.html.twig' with {
            project: project,
        } %}
    </td>
</tr>
