{# @var project \App\Modules\Homepage_v3\Model\Project #}
{# anchor \App\Modules\Homepage_v3\Model\Anchor #}
{% set anchor = app['module.admin.anchor_link'] %}
<div class="dropdown" style="display: inline-block;">
    <span class="btn bg-purple btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
        <i class="glyphicon glyphicon-menu-down"></i>
    </span>

    <ul class="dropdown-menu dropdown-menu-right">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="{{ path('homepage.project.admin.editForm', {id: project.id}) }}">
                    Редактировать
                </a>
            </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="{{ anchor.project }}" onclick="$('#project_delete_form_{{ project.id }}').submit();">
                    Удалить
                </a>
            </li>
            <form id="project_delete_form_{{ project.id }}"
                  action="{{ path('homepage.project.admin.deleteAction', { id: project.id }) }}"
                  method="POST"
                  onsubmit="return confirm('Удалить «{{ project.title|escape('js') }}»');"
                  style="display: none;"
            >
                <input type="hidden" name="_method" value="DELETE">
            </form>
        {% endif %}
    </ul>
</div>
