{# @var projects \App\Modules\Homepage_v3\Model\Project[] #}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Название</th>
        <th>Позиция</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        {% include '@Homepage_v3/admin/project/list_item.html.twig' with {
            project: project,
        } only %}
    {% endfor %}
    </tbody>
</table>
