{% extends '@legacy/Admin/layout_body_sidebar.html.twig' %}
{# @var project \App\Modules\Homepage_v3\Model\Project #}

{% block block_title -%}
    Создать проект
{%- endblock %}

{% block block_body %}
    <section class="content-header">
        <h1>Проект</h1>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title">
                    {% if project.exist %}
                        Редактировать «{{ project.title }}»
                    {% else %}
                        Создать
                    {% endif %}
                </div>
            </div>
            <form action="{{ url('homepage.project.admin.createFormAction') }}" method="POST">
                <div class="box-body">
                    {% include '@Homepage_v3/admin/project/project_form.html.twig' with { project: project } %}
                </div>

                <div class="box-footer">
                    <button class="btn bg-olive" type="submit">
                        {% if project.exist %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
