{# @var project \App\Modules\Homepage_v3\Model\Project #}
<input type="hidden" name="id" value="{{ project.id }}">
<div class="form-group required">
    <label class="control-label" for="title">Название</label>
    <input id="" class="form-control" maxlength="255" type="text" name="title" value="{{ project.title }}" required>
</div>
<div class="form-group required">
    <label class="control-label" for="link">Ссылка</label>
    <input id="link" class="form-control" type="text"
           name="link" value="{{ project.link }}" maxlength="255" required>
</div>
<div class="form-group required image-field">
    <label class="control-label">Изображение</label>
    <span class="help-block">Рекомендованный размер изображения: 374х136</span>
    {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
        image: project.image,
        id: 'project1',
        inputName: 'image_uuid',
        required: 'required'
    } only %}
</div>
<div class="form-group">
    <label class="control-label" for="position">Позиция</label>
    <span class="help-block">Число от 1 до 10</span>
    <input id="position" class="form-control" type="text"
           name="position" value="{{ project.position }}" maxlength="255" required>
</div>

