{# @var projects \App\Modules\Homepage_v3\Model\Project[] #}
<section class="content-header">
    <h1>Проекты</h1>
</section>
<section class="content">
    <div style="margin-bottom: 1em;">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="btn bg-purple" href="{{ path('homepage.project.admin.createForm') }}">+ блок</a>
        {% endif %}
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Список
            </div>
        </div>

        <div class="box-body no-padding">
            {% if projects is empty %}
                <p style="margin: 1em;">
                    Не найдено ни одного блока
                </p>
            {% else %}
                {% include '@Homepage_v3/admin/project/list_table.html.twig' with {
                    projects: projects,
                } only %}
            {% endif %}
        </div>
    </div>
    {% include '@Homepage_v3/admin/change_position_index.html.twig' with {
        items: projects,
        uri: path('homepage.api.editPositionProject'),
        nameModel: 'project',
        anchor: 'news'
        }
    %}
</section>