{# @var news \App\Modules\Homepage_v3\Model\News #}
{# @var resourcesLocks \App\Modules\ResourcesLock\Model\ResourceLock #}
{% set isLocked = false %}
{% set isLockedName = 'noname' %}
{% for resourcesLock in resourcesLocks %}
    {% if resourcesLock.getResource.getEntity.getId == news.news.getId %}
        {% set isLocked = true %}
        {% set isLockedName = resourcesLock.getInnerUser.getUserName %}
    {% endif %}
{% endfor %}
<tr class="js-item"
    data-id="{{ news.news.getId }}"
    data-type="news"
>

    <td class="td-break">
        {{ news.news.getTitle }}
        {% if isLocked %}
            <div class="resourcelock_title" style="color: red">Запись редактируется {{ isLockedName }}</div>
        {% endif %}
    </td>

    <td>
        {% include '@legacy/Admin/InnerUsers/author.html.twig' with {
        author: news.news.getAuthor,
        } only %}
    </td>

    <td class="td-nowrap">
        <span class="js-timestamp"
              data-timestamp="{{ news.news.getDate }}"
              data-format="DD.MM.YYYY"
              data-utc-offset='0'>
        </span>
    </td>

    <td class="td-nowrap">
        <span class="js-timestamp"
              data-timestamp="{{ news.news.getTimeCreated }}"
              data-format="DD.MM.YYYY">
        </span>
        <br>
        <span class="js-timestamp"
              data-timestamp="{{ news.news.getTimeCreated }}"
              data-format="HH:mm">
        </span>
    </td>

    <td class="td-nowrap">
        <span class="js-timestamp"
              data-timestamp="{{ news.news.getTimeUpdated }}"
              data-format="DD.MM.YYYY">
        </span>
        <br>
        <span class="js-timestamp"
              data-timestamp="{{ news.news.getTimeUpdated }}"
              data-format="HH:mm">
        </span>
    </td>

    <td class="td-break">
        <input type="text" data-clone="js-news-position-change{{ news.id }}" class="js-position-change" value="{{ news.position }}">
    </td>

    <td class="js-action td-menu">
        {% include '@Homepage_v3/admin/news/list_item_menu.html.twig' %}
    </td>
</tr>
