{# @var news \App\Modules\Homepage_v3\Model\News[] #}
{# @var news_item \App\Modules\Homepage_v3\Model\News #}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата</th>
        <th>Создано</th>
        <th>Изменено</th>
        <th>Позиция</th>
    </tr>
    </thead>
    <tbody>
    {% for news_item in news %}
        {% include '@Homepage_v3/admin/news/list_item.html.twig' with {
            news: news_item,
            resourcesLocks: resourcesLocks
        } only %}
    {% endfor %}
    </tbody>
</table>
