{# @var news \App\Modules\Homepage_v3\Model\News #}
{# anchor \App\Modules\Homepage_v3\Model\Anchor #}
{% set anchor = app['module.admin.anchor_link'] %}
<div class="dropdown" style="display: inline-block;">
    <span class="btn bg-purple btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
        <i class="glyphicon glyphicon-menu-down"></i>
    </span>

    <ul class="dropdown-menu dropdown-menu-right">
        {% if is_granted('ROLE_INNER_USER_NEWS_DELETE') %}
            <li>
                <a href="{{ anchor.news }}" onclick="if (confirm('Вы действительно хотите удалить новость «{{ news.news.getTitle|escape('js') }}» из списка новостей главной страницы?')) { $('#js-homepage-news-delete-form-{{ news.getId }}').submit(); } else { return false; }">
                    Удалить
                </a>
            </li>
            <form id="js-homepage-news-delete-form-{{ news.getId }}"
                  class="hidden"
                  action="{{ url('homepage.news.admin.removeItemAction', {id: news.getId}) }}"
                  method="POST">
                <input type="hidden" name="_method" value="DELETE">
            </form>
        {% endif %}
    </ul>
</div>
