{# @var news \App\Modules\Homepage_v3\Model\News[] #}
<section class="content-header">
    <h1>Новости</h1>
</section>
<section class="content">
    <div style="margin-bottom: 1em;">
        <a href="#"
           class="btn bg-purple"
           data-toggle="modal"
           data-target="#news-modal"
           data-website-section-id="1"
           title="Добавить новость в раздел «Новость»"
        >
            + новость
        </a>
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Список
            </div>
        </div>
        <div class="box-body no-padding">
            {% if news is empty %}
                <p style="margin: 1em;">
                    Не найдено ни одного блока
                </p>
            {% else %}
                {% include '@Homepage_v3/admin/news/list_table.html.twig' with {
                    news: news,
                    resourcesLocks: resourcesLocks
                } only %}
            {% endif %}
        </div>

        <script>
            const ADMIN_HOMEPAGE_NEWS_ADD_ITEM_URL = '{{ url('homepage.news.admin.addItemAction') }}';
            $('#news-modal').on('show.bs.modal');
            {% include '@Homepage_v3/admin/news/add_item.js' %}
        </script>
    </div>
    {% include '@Homepage_v3/admin/change_position_index.html.twig' with {
        items: news,
        uri: path('homepage.api.editPositionForNews'),
        nameModel: 'news',
        anchor: 'playbill'
        }
    %}
</section>