<div id="block-{{- anchor }}"></div>
<form action="{{ uri }}" method="POST">
    {% for item in items %}
        <input type="hidden" id="js-{{- nameModel -}}-position-change{{ item.id }}" name="{{- nameModel -}}{{- item.id -}}" value="{{ item.position }}">
    {% endfor %}
    <button class="btn bg-olive" type="submit">Сохранить</button>
</form>