{% extends '@legacy/Admin/layout_body_sidebar.html.twig' %}

{% block block_title -%}
    Настройки главной страницы
{%- endblock %}

{% block block_body %}
    <section class="content-header">
        <h1 style="text-align:center">Настройки главной страницы</h1>
    </section>

    {# Промоблок #}
    {{ render(controller('module.homepage.promoblock.admin.controller:indexAction')) }}

    {# Проекты #}
    {{ render(controller('module.homepage.project.admin.controller:indexAction')) }}

    {# Новости #}
    {{ render(controller('module.homepage.news.admin.controller:indexAction')) }}

    {# Детская афиша #}
    {{ render(controller('module.homepage.playbill.admin.controller:indexAction')) }}

    {# Кино и мультфильмы #}
    {{ render(controller('module.homepage.video.admin.controller:indexAction')) }}

    {# Советы родителям #}
    {{ render(controller('module.homepage.video_parent.admin.controller:indexAction')) }}

    {# Модальное окно добавления новостей #}
    {% include '@Homepage_v3/admin/news/news_modal.html.twig' only %}

    {# Модальное окно добавления детской афиши #}
    {% include '@Homepage_v3/admin/playbill/playbill_modal.html.twig' only %}

    {# Модальное окно добавления видео #}
    {% include '@Homepage_v3/admin/video/video_modal.html.twig' only %}

    {# Модальное окно добавления советы родителям #}
    {% include '@Homepage_v3/admin/parent/parent_modal.html.twig' only %}

{% endblock %}