{# @var Video \App\Modules\Homepage_v3\Model\Video #}
{# @var news_item \App\Modules\Homepage_v3\Model\News #}
<div class="v3__homepage-video_container">
    <div class="v3__homepage-three_items">
        {% for video in videos %}
            {% include '@Homepage_v3/web/three_video.html.twig' with {video: video.video , link: video.video.absoluteUrlForParents} %}
        {% endfor %}
    </div>
</div>
<div class="v3__homepage-video_container">
    <div class="v3__homepage-three_items">
        {% for news_item in news %}
            {% include '@Homepage_v3/web/three_item.html.twig' with {item: news_item} %}
        {% endfor %}
    </div>
</div>