{# @var animations \App\Modules\Animation\Model\Animation[] #}
{# @var animation \App\Modules\Animation\Model\Animation #}
<div class="v3__homepage-animation_container">
    <div class="v3__homepage-animation_items-wrapper js-v3__homepage-animation_items-wrapper">
        <div class="v3__homepage-animation_items">
            {% set break = 5 %}
            {% for animation in animations %}
                {% if loop.index0 < 10 %}
                    {% if break == loop.index %}
                        <div class="v2__animation_find-main-underline"></div>
                    {% endif %}
                    <a href="{{ path('web_pagetag_slug', { slug: animation.slug}) }}" class="v3__homepage-animation_item" style="background-image: url('{% if animation.hasImage %}{{ animation.image.thumbnail.url }}{% endif %}');">
                        <div class="v3__homepage-animation_item-title js-truncate">{{ animation.title }}</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="v3__homepage-animation_items-mobile">
        {% for animation in animations %}
            {% if loop.index0 < 10 %}
                <a href="{{ path('web_pagetag_slug', { slug: animation.slug}) }}" class="v3__homepage-animation_item-mobile{% if loop.index0 > 1 %} v3__homepage-animation_item-mobile-no-img{% endif %}" style="background-image: url('{% if animation.hasImage %}{{ animation.image.thumbnail.url }}{% endif %}');">
                    <div class="v3__homepage-animation_item-title-mobile{% if loop.index0 > 1 %} v3__homepage-animation_item-title-mobile-no-img{% endif %} js-truncate">{{ animation.title }}</div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="v3__homepage-animation_select-list">
        <div class="ui-widget" data-base-url="{{ app.request.baseUrl }}">
            <select class="js-find-combobox">
                <option value="">Поиск по каталогу мультфильмов</option>
                {% for animation in animations|sortByMethod('getTitle') %}
                    <option value="{{ animation.slug }}">{{ animation.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>