{# @var promoblockItem \App\Modules\Homepage_v3\Model\PromoblockItem #}
<tr class="js-item"
    data-id="{{ promoblockItem.getId }}">

    <td class="td-break">
        {{ promoblockItem.title }}
    </td>

    <td class="td-break">
        {{ promoblockItem.text }}
    </td>

    <td class="td-break">
        <input type="text" data-clone="js-promoblockitem-position-change{{ promoblockItem.id }}" class="js-position-change" value="{{ promoblockItem.position }}">
    </td>

    <td class="js-action td-menu">
        {% include '@Homepage_v3/admin/promoblock/list_item_menu.html.twig' with {
            promoblockItem: promoblockItem,
        } %}
    </td>
</tr>
