{# @var promoblockItems \App\Modules\Homepage_v3\Model\PromoblockItem[] #}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Текст</th>
        <th>Позиция</th>
    </tr>
    </thead>
    <tbody>
    {% for promoblockItem in promoblockItems %}
        {% include '@Homepage_v3/admin/promoblock/list_item.html.twig' with {
            promoblockItem: promoblockItem,
        } only %}
    {% endfor %}
    </tbody>
</table>
