{# @var promoblockItem \App\Modules\Homepage_v3\Model\PromoblockItem #}
{# anchor \App\Modules\Homepage_v3\Model\Anchor #}
{% set anchor = app['module.admin.anchor_link'] %}
<div class="dropdown" style="display: inline-block;">
    <span class="btn bg-purple btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
        <i class="glyphicon glyphicon-menu-down"></i>
    </span>

    <ul class="dropdown-menu dropdown-menu-right">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="{{ path('homepage.promoblock.admin.editForm', {id: promoblockItem.id}) }}">
                    Редактировать
                </a>
            </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="{{ anchor.promoblock }}" onclick="$('#promoblockItem_delete_form_{{ promoblockItem.id }}').submit();">
                    Удалить
                </a>
            </li>
            <form id="promoblockItem_delete_form_{{ promoblockItem.id }}"
                  action="{{ path('homepage.promoblock.admin.deleteAction', { id: promoblockItem.id }) }}"
                  method="POST"
                  onsubmit="return confirm('Удалить «{{ promoblockItem.title|escape('js') }}»');"
                  style="display: none;"
            >
                <input type="hidden" name="_method" value="DELETE">
            </form>
        {% endif %}
    </ul>
</div>
