{% extends '@legacy/Admin/layout_body_sidebar.html.twig' %}
{# @var promoblockItem \App\Modules\Homepage_v3\Model\PromoblockItem #}

{% block block_title -%}
    Создать элемент промоблока
{%- endblock %}

{% block block_body %}
    <section class="content-header">
        <h1>Промоблок</h1>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-title">
                    {% if promoblockItem.exist %}
                        Редактировать «{{ promoblockItem.title }}»
                    {% else %}
                        Создать
                    {% endif %}
                </div>
            </div>
            <form action="{{ url('homepage.promoblock.admin.createFormAction') }}" method="POST">
                <div class="box-body">
                    {% include '@Homepage_v3/admin/promoblock/promoblock_form.html.twig' with { promoblockItem: promoblockItem } %}
                </div>

                <div class="box-footer">
                    <button class="btn bg-olive" type="submit">{% if promoblockItem.exist %}Сохранить{% else %}Создать{% endif %}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
