{# @var promoblockItems \App\Modules\Homepage_v3\Model\PromoblockItem[] #}
<section class="content-header">
    <h1>Промоблок</h1>
</section>
<section class="content">
    <div style="margin-bottom: 1em;">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="btn bg-purple" href="{{ path('homepage.promoblock.admin.createForm') }}">+ блок</a>
        {% endif %}
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Список
            </div>
        </div>

        <div class="box-body no-padding">
            {% if promoblockItems is empty %}
                <p style="margin: 1em;">
                    Не найдено ни одного блока
                </p>
            {% else %}
                {% include '@Homepage_v3/admin/promoblock/list_table.html.twig' with {
                    promoblockItems: promoblockItems,
                } only %}
            {% endif %}
        </div>
    </div>
    {% include '@Homepage_v3/admin/change_position_index.html.twig' with {
        items: promoblockItems,
        uri: path('homepage.api.editPositionForPromoblockItems'),
        nameModel: 'promoblockitem',
        anchor: 'project'
        }
    %}
</section>