{# @var promoblockItem \App\Modules\Homepage_v3\Model\PromoblockItem #}
<input type="hidden" name="id" value="{{ promoblockItem.id }}">
<div class="form-group required">
    <label class="control-label" for="title">Заголовок</label>
    <span class="help-block">Примерное количество символов - 40</span>
    <input id="" class="form-control" maxlength="255" type="text" name="title" value="{{ promoblockItem.title }}" required>
</div>
<div class="form-group required">
    <label class="control-label" for="text">Текст</label>
    <span class="help-block">Примерное количество символов - 56</span>
    <input id="text" class="form-control" type="text"
           name="text" value="{{ promoblockItem.text }}" maxlength="255" required>
</div>
<div class="form-group required">
    <label class="control-label" for="link">Ссылка</label>
    <input id="link" class="form-control" type="text"
           name="link" value="{{ promoblockItem.link }}" maxlength="255" required>
    <div class="form-inline">
        <label class="checkbox-inline" for="link_type">
            <input class=""
                   type="checkbox"
                   id="link_type"
                   name="link_type"
                   {% if promoblockItem.linkType %}checked{% endif %}
            >
            Открывать в том же окне
        </label>
    </div>
</div>
<div class="form-group required">
    <label class="control-label">Изображение</label>
</div>
<div class="container__form-group">
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Десктоп</span>
        <span class="help-block">Рекомендованный размер картинки 1: 172 х 104 px</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image1,
                id: 'promoblock_item_1',
                inputName: 'image1_uuid',
                required: 'required'
            } only
            %}
    </div>
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Десктоп</span>
        <span class="help-block">Рекомендованный размер картинки 2: 537 х 342 px</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image2,
                id: 'promoblock_item_2',
                inputName: 'image2_uuid',
                required: 'required'
            } only
            %}
    </div>
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Планшет</span>
        <span class="help-block">Рекомендованный размер картинки 1: 384х228</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image3,
                id: 'promoblock_item_3',
                inputName: 'image3_uuid',
                required: 'required'
            } only
            %}
    </div>
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Планшет</span>
        <span class="help-block">Рекомендованный размер картинки 2: 824х680</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image4,
                id: 'promoblock_item_4',
                inputName: 'image4_uuid',
                required: 'required'
            } only
        %}
    </div>
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Смартфон</span>
        <span class="help-block">Рекомендованный размер картинки 1: 600х340</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image5,
                id: 'promoblock_item_5',
                inputName: 'image5_uuid',
                required: 'required'
                } only
            %}
    </div>
    <div class="form-group form-group-flex image-field">
        <span class="help-block">Смартфон</span>
        <span class="help-block">Рекомендованный размер картинки 1: 600х340</span>
            {% include '@legacy/Admin/Image/uploaded_image_field.html.twig' with {
                image: promoblockItem.image6,
                id: 'promoblock_item_6',
                inputName: 'image6_uuid',
                required: 'required'
                } only
            %}
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="position">Позиция</label>
    <span class="help-block">Число от 1 до 4</span>
    <input id="position" class="form-control" type="text"
           name="position" value="{{ promoblockItem.position }}" maxlength="255" required>
</div>

