{# @var ideas \App\Modules\Homepage_v3\Model\Idea[] #}
<div class="v3__homepage-geftideas_container">
    <div class="v3__homepage-geftideas_items">
        {% for idea in ideas %}
            {# Если указана ссылка, используем ее. Иначе используем ссылку на страницу с товарами из подборки. #}
            {% set url = idea.url ?: idea.absoluteUrl %}
            {% set target = idea.url ? '_blank' : '_self' %}
            <a target="{{ target }}" class="v3__homepage-geftideas_item-image-mobile v3__homepage-geftideas_item-image-mobile-{{ loop.index }}" style="background-image: url('{{ idea.imageAdaptive.thumbnail.url }}');order: {{ idea.position }}" href="{{ url }}"></a>
            <a target="{{ target }}" class="v3__homepage-geftideas_item-image" style="background-image: url('{{ idea.imageDestop.thumbnail.url }}');order: {{ idea.position }}" href="{{ url }}"></a>
            <a target="{{ target }}" class="v3__homepage-geftideas_item-tablet" style="background-image: url('{{ idea.imageTablet.thumbnail.url }}');order: {{ idea.position }}" href="{{ url }}"></a>
        {% endfor %}
    </div>
    <div class="v3__homepage-geftideas-banner">
        {{ app['module.adfox'].create_240_x_400.renderContainer|raw }}
    </div>
</div>
