{# @var idea \App\Modules\Homepage_v3\Model\Idea #}
{% extends '@legacy/Website/layout_body.html.twig' %}

{% block block_title -%}
    Идеи подарков: {{ idea.title }}
{%- endblock %}

{% block block_body %}
    {#<div class="menu_type-link js-menu-type-link">{{ app['module.menutype'].getGifts }}</div>#}
    <h1 class="page-title without-offset">
        Идеи подарков: {{ idea.title }}
    </h1>
    <style>
        .giftideas__container .product-card-item__container {
            width: 49%;
        }
    </style>
    <div class="giftideas__container">
        <div class="tab-content">
            <div class="giftideas__show-more-wrapper show_more">
                {% if prevPage %}
                    {% set offset = prevPage * 8 - 8 %}
                    <a href="{{ path('ideas.web.products' , {id : idea.id}) }}?page={{ prevPage }}" data-id="{{ idea.id }}" data-offset="{{ offset }}" data-page="{{ prevPage }}" class="js-showmore-idea-products-prev">
                        Показать предыдущие
                    </a>
                {% endif %}
            </div>
            <div class="product-card-list__2-col js-ideas-products">
                {% if prevPage %}
                    <div class="page-break" style="margin: 30px 0 30px 20px;">
                        <span class="page-break-text">Страница {{ prevPage + 1 }}</span>
                    </div>
                {% endif %}
                {% for product in idea.products %}
                    {% include '@legacy/Website/Products/card_item.html.twig' with { product: product } only %}
                {% endfor %}
            </div>
            <div class="giftideas__show-more-wrapper show_more">
                {% if idea.hasMore %}
                    <a href="{{ path('ideas.web.products' , {id : idea.id}) }}?page={{ nextPage }}" data-page="{{ nextPage }}" data-id="{{ idea.id }}" class="js-showmore-idea-products">
                        Показать еще
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
