<div id="video-parent-modal" class="modal">
    <div class="modal-dialog modal-lg" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" style="opacity: 1;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Видео</h4>
            </div>

            <div class="modal-body" style="background: #f1f1f1;">
                <div class="js-filtered-list">
                    <div class="js-filter">
                        <form action="{{ url('admin_video_ajax_list') }}"
                              method="GET"
                        >
                            <div class="box-body">
                                <input type="hidden" class="js-playlist-id-input" name="playlist" value="">
                            </div>
                        </form>
                    </div>
                    <div class="js-loading" style="display: none;">
                        <h4>Загрузка…</h4>
                    </div>
                    <div class="js-items js-videos-parent-add-playlist" data-playlist="1">
                        {# items here #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
