{# @var videos \App\Modules\Homepage_v3\Model\Video[] #}
<section class="content-header">
    <h1>Советы родителям</h1>
</section>
<section class="content">
    <div style="margin-bottom: 1em;">
        <a href="#"
           class="btn bg-purple"
           data-toggle="modal"
           data-target="#video-parent-modal"
           data-website-section-id="1"
           title="Добавить видео в раздел «Советы родителям»"
        >
            + видео
        </a>
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Список
            </div>
        </div>

        <div class="box-body no-padding">
            {% if videos is empty %}
                <p style="margin: 1em;">
                    Не найдено ни одного блока
                </p>
            {% else %}
                {% include '@Homepage_v3/admin/parent/list_table.html.twig' with {
                    videos: videos
                } only %}
            {% endif %}
        </div>

        <script>
            const ADMIN_HOMEPAGE_VIDEO_PARENT_ADD_ITEM_URL = '{{ url('homepage.video_parent.admin.addItemAction') }}';
            $('#video-parent-modal').on('show.bs.modal');
            {% include '@Homepage_v3/admin/parent/add_item.js' %}
        </script>
    </div>
    {% include '@Homepage_v3/admin/change_position_index.html.twig' with {
        items: videos,
        uri: path('homepage.api.editPositionForVideoParent'),
        nameModel: 'video-parent',
        anchor: 'video-parent'
    }
    %}
</section>