{# @var promoblockItems \App\Modules\Homepage_v3\Model\PromoblockItem[] #}
{# @var promoblockItem \App\Modules\Homepage_v3\Model\PromoblockItem #}
<div class="v3__homepage-promoblock_container">
    <div class="v3__homepage-promoblock_left-items js-slider1">
        {% for promoblockItem in promoblockItems1 %}
            <a href="{{ promoblockItem.link }}" {% if loop.index0 > 0 %}style="display: none;" {% endif %}target="{{ promoblockItem.linkType ? '_self' : '_blank' }}"  class="v3__homepage-promoblock_left">
                <div class="v3__homepage-promoblock_left-item" style="background-image: url('{{ promoblockItem.image1.absoluteUrl }}')">
                    <div class="v3__homepage-promoblock_left-item-description">
                        <div class="v3__homepage-promoblock_left-item-title">{{ promoblockItem.title }}</div>
                        <div class="v3__homepage-promoblock_left-item-text">{{ promoblockItem.text }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="v3__homepage-promoblock_right">
        <div class="v3__homepage-promoblock_right-items">
            <div class="v3__homepage-promoblock_right-items-i js-slider2">
                {% for promoblockItem in promoblockItems2 %}
                    <a href="{{ promoblockItem.link }}" {% if loop.index0 > 0 %}style="display: none;" {% endif %} target="{{ promoblockItem.linkType ? '_self' : '_blank' }}" class="v3__homepage-promoblock_right-item">
                        <div class="v3__homepage-promoblock_right-item-img" style="background-image: url('{{ promoblockItem.image2.absoluteUrl }}')"></div>
                        <div class="v3__homepage-promoblock_right-item-title-border">
                            <span class="v3__homepage-promoblock_right-item-title js-truncate">{{ promoblockItem.title }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="v3__homepage-promoblock_right-items-i js-slider3">
                {% for promoblockItem in promoblockItems3 %}
                    <a href="{{ promoblockItem.link }}" {% if loop.index0 > 0 %}style="display: none;" {% endif %} target="{{ promoblockItem.linkType ? '_self' : '_blank' }}" class="v3__homepage-promoblock_right-item">
                        <div class="v3__homepage-promoblock_right-item-img" style="background-image: url('{{ promoblockItem.image2.absoluteUrl }}')"></div>
                        <div class="v3__homepage-promoblock_right-item-title-border">
                            <span class="v3__homepage-promoblock_right-item-title js-truncate">{{ promoblockItem.title }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="v3__homepage-promoblock_right-items-i js-slider4">
                {% for promoblockItem in promoblockItems4 %}
                    <a href="{{ promoblockItem.link }}" {% if loop.index0 > 0 %}style="display: none;" {% endif %} target="{{ promoblockItem.linkType ? '_self' : '_blank' }}" class="v3__homepage-promoblock_right-item">
                        <div class="v3__homepage-promoblock_right-item-img" style="background-image: url('{{ promoblockItem.image2.absoluteUrl }}')"></div>
                        <div class="v3__homepage-promoblock_right-item-title-border v3__homepage-promoblock_right-item-title-last">
                            <span class="v3__homepage-promoblock_right-item-title js-truncate">{{ promoblockItem.title }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
