{# @var playbill \App\Modules\Homepage_v3\Model\Playbill #}
{# @var resourcesLocks \App\Modules\ResourcesLock\Model\ResourceLock #}
{% set isLocked = false %}
{% set isLockedName = 'noname' %}
{% for resourcesLock in resourcesLocks %}
    {% if resourcesLock.getResource.getEntity.getId == playbill.clubEvent.getId %}
        {% set isLocked = true %}
        {% set isLockedName = resourcesLock.getInnerUser.getUserName %}
    {% endif %}
{% endfor %}
<tr class="js-item"
    data-id="{{ playbill.clubEvent.getId }}"
    data-type="club-event"
>

    <td class="td-break">
        {{ playbill.clubEvent.getTitle }}
        {% if isLocked %}
            <div class="resourcelock_title" style="color: red">Запись редактируется {{ isLockedName }}</div>
        {% endif %}
    </td>

    <td class="td-nowrap">
        <span class="label label-default">
            {{ playbill.clubEvent.eventType.name }}
        </span>
    </td>

    <td class="td-nowrap">
        {% for tags in playbill.clubEvent.tags %}
            <span class="label label-default">
                {{ tags.title }}
            </span>
        {% endfor %}
    </td>

    <td>
        {% include '@legacy/Admin/InnerUsers/author.html.twig' with {
            author: playbill.clubEvent.getAuthor,
        } only %}
    </td>

    <td class="td-break">
        <input type="text" data-clone="js-playbill-position-change{{ playbill.id }}" class="js-position-change" value="{{ playbill.position }}">
    </td>

    <td class="js-action td-menu">
        {% include '@Homepage_v3/admin/playbill/list_item_menu.html.twig' %}
    </td>
</tr>
