{# @var playbills \App\Modules\Homepage_v3\Model\Playbill[] #}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Тип</th>
        <th>Теги</th>
        <th>Автор</th>
        <th>Позиция</th>
    </tr>
    </thead>
    <tbody>
    {% for playbill in playbills %}
        {% include '@Homepage_v3/admin/playbill/list_item.html.twig' with {
            playbill: playbill,
            resourcesLocks: resourcesLocks
        } only %}
    {% endfor %}
    </tbody>
</table>
