{# @var playbill \App\Modules\Homepage_v3\Model\Playbill #}
{# anchor \App\Modules\Homepage_v3\Model\Anchor #}
{% set anchor = app['module.admin.anchor_link'] %}
<div class="dropdown" style="display: inline-block;">
    <span class="btn bg-purple btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
        <i class="glyphicon glyphicon-menu-down"></i>
    </span>

    <ul class="dropdown-menu dropdown-menu-right">
        {% if is_granted('ROLE_INNER_USER_NEWS_DELETE') %}
            <li>
                <a href="{{ anchor.playbill }}" onclick="if (confirm('Вы действительно хотите удалить клубное событие «{{ playbill.clubEvent.title|escape('js') }}» из списка детской афиши главной страницы?')) { $('#js-homepage-playbill-delete-form-{{ playbill.id }}').submit(); } else { return false; }">
                    Удалить
                </a>
            </li>
            <form id="js-homepage-playbill-delete-form-{{ playbill.id }}"
                  class="hidden"
                  action="{{ url('homepage.playbill.admin.removeItemAction', {id: playbill.id }) }}"
                  method="POST">
                <input type="hidden" name="_method" value="DELETE">
            </form>
        {% endif %}
    </ul>
</div>
