{# @var playbills \App\Modules\Homepage_v3\Model\Playbill[] #}
{# @var resourcesLocks \App\Modules\ResourcesLock\Model\ResourceLock[] #}
<section class="content-header">
    <h1>Детская афиша</h1>
</section>
<section class="content">
    <div style="margin-bottom: 1em;">
        <a href="#"
           class="btn bg-purple"
           data-toggle="modal"
           data-target="#playbill-modal"
           title="Добавить событие в раздел «Детская афиша»"
        >
            + событие
        </a>
    </div>
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                Список
            </div>
        </div>

        <div class="box-body no-padding">
            {% if playbills is empty %}
                <p style="margin: 1em;">
                    Не найдено ни одного блока
                </p>
            {% else %}
                {% include '@Homepage_v3/admin/playbill/list_table.html.twig' with {
                    playbills: playbills,
                    resourcesLocks: resourcesLocks
                } only %}
            {% endif %}
        </div>

        <script>
            const ADMIN_HOMEPAGE_PLAYBILL_ADD_ITEM_URL = '{{ url('homepage.playbill.admin.addItemAction') }}';
            $('#playbill-modal').on('show.bs.modal');
            {% include '@Homepage_v3/admin/playbill/add_item.js' %}
        </script>
    </div>
    {% include '@Homepage_v3/admin/change_position_index.html.twig' with {
        items: playbills,
        uri: path('homepage.api.editPositionForPlaybill'),
        nameModel: 'playbill',
        anchor: 'video'
    }
    %}
</section>