<div id="playbill-modal" class="modal">
    <div class="modal-dialog modal-lg" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" style="opacity: 1;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">События</h4>
            </div>

            <div class="modal-body" style="background: #f1f1f1;">
                <div class="js-filtered-list">
                    <div class="js-filter">
                        {% include '@legacy/Admin/ClubEvent/search_form.html.twig' %}
                    </div>
                    <div class="js-loading" style="display: none;">
                        <h4>Загрузка…</h4>
                    </div>
                    <div class="js-items js-homepage-add-club-event">
                        {# items here #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
