<div class="what_to_give">
    <form action="{{ path('products_page.web.main_result_form') }}" method="POST">
        <div class="what_to_give__row">
            <p class="what_to_give__header">
                Что подарить?
            </p>
        </div>

        <div class="what_to_give__row">
            <select class="input-select input-select-light v3__homepage-product-input-select"
                    name="gender"
                    title=""
            >
                <option value="">Для кого?</option>
                <option value="{{ tags_gender_girl }}"
                        {{ form.tag_gender == tags_gender_girl ? 'selected' }}
                >
                    Для девочки
                </option>
                <option value="{{ tags_gender_boy }}"
                        {{ form.tag_gender == tags_gender_boy ? 'selected' }}
                >
                    Для мальчика
                </option>
            </select>
        </div>

        <div class="what_to_give__row">
            <select class="input-select input-select-light v3__homepage-product-input-select"
                    name="ages"
                    title=""
            >
                <option value="">Сколько лет?</option>
                {% for tag in ages %}
                    <option {{ tag.id in form.tags ? 'selected' }}
                            value="{{ tag.id }}"
                    >
                        {{ tag.title }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="what_to_give__row">
            <select class="input-select input-select-light v3__homepage-product-input-select"
                    name="character"
                    title=""
            >
                <option value="">Любимые герои?</option>
                {% for character in characters %}
                    <option {{ character.id in form.tags ? 'selected' }}
                            value="{{ character.id }}"
                    >
                        {{ character.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {# Временно попросили отключить #}
        {#<div class="what_to_give__row">#}
            {#<select class="input-select input-select-light v3__homepage-product-input-select"#}
                    {#name="tags_or[]"#}
                    {#title=""#}
            {#>#}
                {#<option value="">Бренд?</option>#}
                {#{% for brand in brands %}#}
                    {#<option {{ brand.id in form.tags ? 'selected' }}#}
                            {#value="{{ brand.id }}"#}
                    {#>#}
                        {#{{ brand.title }}#}
                    {#</option>#}
                {#{% endfor %}#}
            {#</select>#}
        {#</div>#}

        <div class="what_to_give__row">
            <div class="css-checkbox inverted" style="text-align: center; margin-left: -1em;margin-top: 44px;">
                {#<input type="hidden" value="0" name="available">#}
                <input id="search-products-available{{ idInput }}"
                       type="checkbox"
                       name="available"
                       checked
                >
                <label for="search-products-available{{ idInput }}">
                    <span class="product-search-from__available v3__homepage_product-search-from__available">
                        <span class="product-search-from__available__title">Купить онлайн</span>
                        <span class="product-search-from__available__icon"></span>
                    </span>
                </label>
            </div>
        </div>

        <div class="what_to_give__row">
            <button type="submit"
                    class="what_to_give__find-btn btn btn-solid-orange"
            >
                Искать
            </button>
        </div>

        <div class="what_to_give__row">
            <a class="v3__homepage-product_shared" href="{{ path('website_gift_products_tab') }}">Расширенный поиск</a>
        </div>
    </form>
</div>