<div class="v3__homepage-product-online-wrapper">
    <div class="v3__homepage-product_items v3__homepage-product_items-online js-homepage-product_items">
        {#<div class="v3__homepage-product-online-banner">{{ app['module.adfox'].create_240_x_400.renderContainer|raw }}</div>#}
        {% for product in products %}
            {% include '@Homepage_v3/web/product/product_card.html.twig' with { index : loop.index } %}
        {% endfor %}
        <div class="v3__homepage-product_show-more-settings-products js-show-more-settings-products" data-skip="8"></div>
    </div>
</div>