{# @var product \Entities\IdiberiProductEntity #}
<div class="v3__product_item-wrapper" style="order: {{ index }}">
    <a href="{{ product.absoluteUrl|default('#') }}">
        <div class="v3__product_item-header">
            <div class="v3__product_item-title js-truncate">
                {{ product.title|mdash }}
            </div>
            <div class="v3__product_item-heart-wrapper">
                {{ render(controller('module.wishlist.heart_widget:renderAction', {idiberiProduct: product})) }}
            </div>
        </div>
        <div class="v3__product_item-img" style="background-image: url('{{ product.image.thumbnail.url }}')"></div>
        {% if product.available %}
            {% include '@Homepage_v3/web/product/product_price.html.twig' %}
        {% else %}
            <div class="v3__product_item-category-wrapper">
                <div class="v3__product_item-category">{{ product.category.title|mdash }}</div>
            </div>
        {% endif %}
    </a>
    {% include '@legacy/Website/Products/block_product_card_available_icon.html.twig' with {
        product: product,
    } only %}
</div>