{# @var form array #}
{# @var tags_gender_girl int #}
{# @var tags_gender_boy int #}
{# @var ages \Entities\TagEntity[] #}
{# @var characters \App\Modules\Character\Models\Character[] #}
{# @var brands \Entities\IdiberiProductBrand[] #}
{# @var products \Entities\IdiberiProductEntity[] #}
<div class="v3__homepage-product-form_mobile">
    {% include '@Homepage_v3/web/product/form_find_product.html.twig' with {idInput : '1'} %}
</div>
<div class="v3__homepage-product_container">
    <div class="v3__homepage-product_items-wrapper js-v3__homepage-product_items-wrapper">
        <div class="v3__homepage-product_items">
            <div class="v3__homepage-product-form_desktop">
                {% include '@Homepage_v3/web/product/form_find_product.html.twig' with {idInput : '2'} %}
            </div>
            {% for product in products %}
                {% include '@Homepage_v3/web/product/product_card.html.twig' with { index: loop.index } %}
            {% endfor %}
        </div>
    </div>
</div>
