{# @var mainClubTest \App\Modules\ClubTest\Model\ClubTest #}
{# @var vote \App\Modules\Votes\Entity\VoteEntity #}
{# @var clubTest \App\Modules\ClubTest\Model\ClubTest #}
<div class="v3__homepage-votes-tests_container">
    <div class="v3__homepage-votes-tests_items">
        <div class="v3__homepage-tests_item">
            <div class="v3__homepage-tests_item-img" style="background-image: url('{{ mainClubTest.image.thumbnail.url }}');">
                <div class="v3__homepage-tests_item-text js-truncate">{{ mainClubTest.title }}</div>
            </div>
            <div class="v3__homepage-tests_item-description-wrapper">
                <div class="v3__homepage-tests_item-description js-truncate">
                    {{ mainClubTest.description }}
                </div>
            </div>
            <a href="{{ path('web.club_test.standalone_page', {id: mainClubTest.id, slug: mainClubTest.slug}) }}" class="v3__homepage-tests_item-btn">Пройти тест</a>
        </div>
        <div class="v3__homepage-tests_item-other">
            {% for clubTest in clubTests %}
                {% set url = path('web.club_test.standalone_page', {id: clubTest.id, slug: clubTest.slug}) %}
                <a href="{{ url }}" class="v3__homepage-tests_item-other-wrapper">
                    <div class="v3__homepage-tests_item-other-text js-truncate">{{ clubTest.title }}</div>
                </a>
            {% endfor %}
        </div>
        <div class="v3__homepage-votes_item">
            <div class="v3__homepage-votes_item-wrapper">
                {% autoescape false %}
                    {{ vote }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>